<ion-header>
  <ion-toolbar>
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  
    <!-- Segment buttons with text -->
    <ion-segment color="dark" >
      <ion-segment-button value="XLK" >
        Sign up
        
      </ion-segment-button>
      <ion-segment-button value="SPY" >
        Sign in
      </ion-segment-button>
      
    </ion-segment>
  
  <ion-grid fixed>
    
    <ion-row>
      <ion-col col-xl-2>
        <ion-input type="email" placeholder="Email"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-xl-2>
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-xl-2>
        <ion-input type="password" placeholder="Re-enter Password"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-xl-2>
        <ion-button expand="block" color="tertiary">Sign up</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>