ion-input {
    margin-top: 15px;
    border-bottom: 1px solid lightgrey;
    --placeholder-color: grey;
    --placeholder-font: small;
}

ion-input::placeholder {
    font-size: small;
    color: tomato;
}

ion-button {
    margin-top: 25px;
    width: 100% !important;

}



